<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB5gsPoKBV_GGlNYzMEd6bF2aBoG0zuNR0</string>
	<key>GCM_SENDER_ID</key>
	<string>992077388118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tfgFlutterAplicationEstetica</string>
	<key>PROJECT_ID</key>
	<string>estetica-app-tfg</string>
	<key>STORAGE_BUCKET</key>
	<string>estetica-app-tfg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992077388118:ios:e466c582550b5f2eeb9ef7</string>
	<key>DATABASE_URL</key>
	<string>https://estetica-app-tfg-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>